{% extends "sqladmin/layout.html" %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Объединение Игроков</h3>
        </div>
        <div class="card-body">
            {% if success %}
            <div class="alert alert-success">
                {{ success }}
            </div>
            {% endif %}

            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}

            <p>
                Крч есть игрок 1 который захотел поменять ник на игрок 2 , и вот теперь пишешь старй ник игрока и его
                новый и всё гойда сво
            </p>

            <form method="POST">
                <div class="form-group mb-3">
                    <label for="source_name" class="form-label">Исходное имя (Старый ник)</label>
                    <input type="text" class="form-control" id="source_name" name="source_name" required
                        placeholder="например, Artyrka">
                </div>

                <div class="form-group mb-3">
                    <label for="target_name" class="form-label">Целевое имя (Новый ник)</label>
                    <input type="text" class="form-control" id="target_name" name="target_name" required
                        placeholder="например, Artyrka2">
                </div>

                <button type="submit" class="btn btn-primary">Объединить статистику</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}